@{
    ViewData["Title"] = "Main Page";
}

<div class="container text-center">
    <div>
        <h1 class="display-4">Welcome To Ken's Juggling Page</h1>
        <p>Learn about juggling and my journey.</p>
    </div>

    <div class="row mt-4">
        <!-- First image above the first paragraph -->
        <div class="col-md-12">
            <img src="/img/juggling1.jpeg" class="img-fluid" alt="Image 1">
        </div>
        
        <!-- Second image and corresponding paragraph -->
        
        <div class="text-center">
            <!-- Wrap the content in a text-center div -->
            <p>Juggling is a fascinating art form that dates back thousands of years. It involves the manipulation of objects, typically balls, clubs, or rings, in a rhythmic and coordinated manner. Juggling requires skill, concentration, and practice, but the rewards are well worth it.</p>
            <img src="/img/juggling2.jpeg" class="img-fluid" alt="Image 2" style="max-height: 300px;">
            <p>My journey with juggling began when I was just 10 years old. I was captivated by the sight of jugglers at a local fair and decided to give it a try. Since then, I've dedicated countless hours to honing my skills and perfecting my craft. Today, I can proudly say that I'm able to juggle four balls simultaneously, a feat that represents years of dedication and perseverance.</p>
        </div>
       
    </div>

</div>
